---
import Link from "./Link.astro";
---
<div class="prose">
  <hr />

  <footer class="flex justify-between">
    <span>Max Twelftree</span>

    <div class="flex gap-4">
      <Link href="/rss.xml">
        <div class="i-mdi:rss" title="RSS" />
      </Link>

      <Link href="/sitemap-index.xml">
        <div class="i-mdi:sitemap" title="Sitemap" />
      </Link>

      <Link href="mailto:maxjtwelftree@gmail.com">
        <div class="i-tabler:mail-filled" title="Email" />
      </Link>

      <Link href="https://github.com/maxjtwelftree">
        <div class="i-mdi:github" title="GitHub" />
      </Link>

      <Link href="https://www.linkedin.com/in/maxjtwelftree/">
        <div class="i-mdi:linkedin" title="Linkedin" />
      </Link>
    </div>
  </footer>
</div>